* {
  box-sizing: border-box;
}

body,
html,
.page-content {
  height: 100vh;
  margin-bottom: 0px !important;
  padding: 0px !important;
  background-color: #2a2a3f;
  border: none !important;
}

.page {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100% !important;
  transform: none;
  background-color: #2a2a3f;
  z-index: 1;
}

.page-homepage {
 
  padding-top: 86px !important;
}

.card-expandable {
  margin: 16px !important;
  border-radius: 8px !important;

  height: 20vw ;

  background: linear-gradient(#2a2a3f, #3c3c4f) !important;
  
}

.card-opened .card-content {
  /* padding-bottom: 59px !important; */
  padding-top: 86px !important;
}



#h-glass{

background: url(../css/img/Hour-glass/4.jpg);  
}

#L-bulb{

  background: url(../css/img/bulb/8.jpg);  
  }

#computer{
  background: url(../css/img/computer/17.jpg); 
}

#teddies{
  background: url(../css/img/Teddies/6.jpg); 
}

#fire-elmt{
  background: url(../css/img/Pumpkn-man/lighter/2.jpg); 
}
  

.bg-img {
  background-color: none !important;
  background: linear-gradient(
      0deg,
      rgba(61, 32, 5, 0.404),
      rgba(46, 5, 29, 0.69)
    ),
    url(/www/css/img/Pumpkn-man/1.jpg);
  background-position: 1% 80%;

  display: flex;

  flex-direction: row;
  justify-content: space-between;
  height: 20vw!important;

  width: 100%;
}

.bg-img .card-header{

  display: flex !important;

  height: 100;
  width: 100%;
}

.bg-img h1{

  display: flex;
  align-items: flex-start;


}

.card-close {
  background-color: none;

  display: flex !important;
  align-items: flex-start !important;
  justify-content: center !important;
  padding: 16px;
  height: fit-content;
  margin: 16px;
  border-radius: 8px;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  height: 35px;
  width: 35px;
}

.navbar .left {
  flex-shrink: 0;
  display: flex;
  place-items: center !important;


  border: solid 2px violet;
  border-color: var(--f7-theme-color);
  border-radius: 8px;
  padding: 8px;

  margin-right: 16px;
}

.navbar {
  display: flex;
  position: relative !important;
  margin: 0px;
  height: fit-content;

  align-items: center;
  justify-content: flex-start;

  --f7-navbar-large-collapse-progress: 0;

  color: var(--f7-navbar-text-color, var(--f7-bars-text-color));
  font-size: var(--f7-navbar-font-size);
}

.navbar .title.sliding {

  margin: 0px !important;
}

.user {
  font-weight: 500;
}

.navbar,
.navbars {
  position: relative !important;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
}

.navbar-inner {
  display: flex;
  position: relative;

  width: 100%;
  height: fit-content;

  align-items: center;
  justify-content: flex-start !important;
  padding: 16px;

  border-radius: 0px;

  transform: translate3d(0, 0, 0);
  z-index: 10;
  background-color: white;
  border: none !important;
}

.navbar-bg {
  background-color: #3c3c4f !important;
  -webkit-backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
  backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));

  border: none !important;
}

.navbar-bg::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  top: 100%;
  bottom: auto;
  height: 8px;
  pointer-events: none;
  background: none !important;
}

.view {
  height: 100% !important;
  display: flex !important;
  flex-direction: row;
  border: none !important;
}

.view.view-main {
  display: flex !important;
  flex-direction: row;
}

.page-content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  z-index: 1;

  border: none !important;
  padding-bottom: 59px !important;
  /* padding-top: 86px !important;  */
}



.button {
  margin: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 100%;
  background-color: violet;

  transition: all;
  transition-duration: 5ms;
}

.button:active {
  opacity: 60%;
}

.button a {
  color: black;

  font-size: 19px;
}

.selected_topic {
  display: flex;
  width: fit-content;
  padding: 8px 18px 8px 18px;
  border-radius: 8px;
  margin-top: 16px;

  background-color: #ffd9ff0c;
  border-color: #ffd9ff;
  border-left: solid 2px violet;
  border-right: solid 2px violet;

}

.selected-topic .card-header {

  font-size: clamp(8vw, 5vw, 90vw) !important;
}

span.material-symbols-outlined {
  display: flex;
  margin: 0px;
  font-variation-settings: "wght" 400;
  color: var(--f7-theme-color-rgb);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;

  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: 2rem
}

.panel-ico {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100%;

  padding: 2vw;

  border-bottom: solid 2px;
  border-color: rgba(255, 255, 255, 0.041);

  width: 100%;
}

.panel,
.panel-right,
.panel-cover,
.panel-in {
  display: flex !important;
  flex-direction: column;

  background-color: rgba(255, 0, 0, 0);
  background: none !important;

  height: 100vh !important;
  margin-top: 89px;
  margin-bottom: 200px !important;
  padding: 8px;

  box-shadow: none !important;
}





.panel-right .button {
  margin: 0px !important;
}


.panel-right .material-symbols-outlined {
  color: black;
}

.panel-right .navbar-inner{
  border-radius: 6px 6px 0px 0px;
}

.panel-right #Logout{

  border-radius: 0px 0px 16px 16px;
  overflow: hidden;
}


.list {
  --menu-list-offset: 0px;
  position: relative;
  align-items: center !important;
  z-index: 1;
  font-size: var(--f7-list-font-size);
  margin: 0px;
}

.list ul {
  display: flex;
  align-items: center !important;
  padding: 16px !important;
  border-bottom: none;
}

.list p {
  color: #000000;
  margin: 0px;
  font-weight: 500;
}

.list-img {
  margin-right: 16px;
}

.toolbar-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: none;

  position: relative;

  width: 100%;
  height: 100%;

  box-sizing: border-box;

  overflow: hidden;
  padding: 0px;
}

.bottom-links {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-column-gap: 8px;

  padding: 8px;

  width: 100%;
}

.icon-only{

  display: flex !important;
  width: 100% !important;
  height: 100% !important;
  padding: 2px !important;
}

.link i+i, .link i+span, .link span+i, .link span+span {
  margin-left: 0px;
}

.bottom-links .link {
  justify-content: center;
  padding: 0px;
  width: 100%;

  min-width: 0px;

  background-color: rgb(240, 248, 255);
  border: solid 2px;
  border-radius: 8px;
  border-color: var(--f7-theme-color-tint);

  overflow: hidden;
}

.bottom-links a {
  color: var(--f7-theme-color-rgb);
  font-weight: 500;
  font-size: 19px;
}

.toolbar-bottom {
  background-color: #2a2a3f !important;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  border: none;
}



/* //i had a bug that caused the topics page 
not to overflow wich caused the vertical scroll 
to bugg out- will fix later  UPDATE ** Fixed*/ 

.wrapper-page {
display: grid;

grid-template-rows: auto 1fr;

  background-color: #f321e900;
  padding: 16px 8px 16px 8px;
  padding-bottom: 80px;
}



.card-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  border: none !important;
  color: whitesmoke !important;
}

.card-header h1 {
  font-size: clamp(8vw, 5vw, 90vw) !important;
  color: white !important;
}

.card-header small {
  font-size: 20px;
  font-weight: 500;
}



.card-content-padding {
  position: relative;
  padding: 0px;
  padding-top: 16px;
  width: 100%;
}

.xpnd-card-img.imgg {
  display: flex;
  height: fit-content;
  border-radius: 8px;

}



.p-header {
  margin-top: 32px;
  margin-bottom: 32px;
}

.p-header h2 {
  font-weight: 700 !important;
  border-left: solid 2px violet;
  padding-left: 16px;
}

.card-content.imgg {
  display: flex;
  height: 100%;

  margin: 16px;
}

.imgg img {
  border-radius: 16px;
  overflow: hidden;
  height: 100%;

  width: 100%;
}
.grid-imgs {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;

  padding: 16px;
  padding-top: 0px;
}

.home-grid {
  padding: 4vw;
  padding-bottom: 100px;
  padding-top: 0px;
}

.card-footer {
  padding: 0px;
  width: 100%;
  padding-bottom: 32px;
  padding-left: 4vw;
  padding-right: 4vw;
}

.card-footer .button{

  margin-left: 0px;
  margin-right: 0px;


}

h1 {
  margin: 0px;
  font-size: 35px;
  color: rgb(245, 245, 245);
}

h2 {
  margin: 0px;
  font-weight: 500;
  font-size: clamp( 2vw, 4vw) !important;
  color: whitesmoke;
}

h3 {
  margin: 0px;
  font-weight: 700;
  font-size: clamp( 6vw, 4vw, 20vw) !important;
  color: whitesmoke;
  height: 70%;
}
.styled_header {
  border-left: solid 2px rgb(255, 217, 255);
  padding-left: 4vw;
}

.elevation-6 {
  box-shadow: #ffd9ff !important;
}

p {
  color: rgba(245, 245, 245, 0.856);
  font-weight: 300;
  font-size: clam(4vw, 2vw, 50vw) !important;
}

.card-expandable h1{

  font-size: clamp(5vw, 2vw, 50vw) !important;

}



.card-paragraph {
  padding-left: 4vw;
  padding-right: 4vw;
}

.more-header {
  margin-left: 4vw;
  margin-right: 4vw;
  /* margin-top: 32px; */
}

.card-content-padding .more-header,
.grid-imgs {
  padding: 0px;
  margin: 0px;
}



.card-content-padding .more-header {
  margin-bottom: 16px;
  margin-top: 32px;
}



.card-content-padding .button {
  margin-bottom: 16px;
  margin-top: 32px;

  margin-left: 0px;
  margin-right: 0px;

  text-transform: lowercase;
  background-color: #3c3c4f;
}

.card-content-padding a {
  color: violet;
}




:root {
  --f7-theme-color: violet;
  --f7-theme-color-rgb: rgb(87, 2, 87);
  --f7-theme-color-shade: rgb(163, 86, 163);
  --f7-theme-color-tint: rgb(255, 217, 255);
  --f7-safe-area-left: 0px;
  --f7-safe-area-right: 0px;
  --f7-safe-area-top: 0px;
  --f7-safe-area-bottom: 0px;
  --f7-safe-area-outer-left: 0px;
  --f7-safe-area-outer-right: 0px;
  --f7-device-pixel-ratio: 1;

  --f7-card-margin-horizontal: 0px;
  --f7-card-margin-vertical: 0px;
  --f7-card-content-padding-horizontal: 16px;
  --f7-card-content-padding-vertical: 16px;
  --f7-card-border-radius: 0px;
  --f7-card-font-size: inherit;
  --f7-card-header-text-color: whitesmoke;
  --f7-card-header-font-weight: 400;
  --f7-card-header-padding-horizontal: 16px;
  --f7-card-footer-font-weight: 400;
  --f7-card-footer-font-size: inherit;
  --f7-card-footer-padding-horizontal: 16px;
  --f7-card-expandable-font-size: 16px;
  --f7-card-expandable-tablet-width: 100%;
  --f7-card-expandable-tablet-height: 100vh;
  --f7-card-bg-color: rgba(255, 255, 254, 0.082);
  --f7-card-outline-border-color: rgba(0, 0, 0, 0.12);
  --f7-card-header-border-color: none;
  --f7-card-footer-border-color: rgba(241, 30, 30, 0.1);
  --f7-card-expandable-bg-color: rgb(250, 85, 20) !important;
  --f7-font-family: "poppins";

  --f7-elevation-7: 0px 3px 5px -1px rgba(250, 85, 20, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.md {
  --f7-card-box-shadow: var(--f7-elevation-1);
  --f7-card-header-font-size: clamp(3vw, 2vw, 50vw);
  --f7-card-header-padding-vertical: 4px;
  --f7-card-header-min-height: 48px;
  --f7-card-footer-text-color: rgba(0, 0, 0, 0.54);
  --f7-card-footer-padding-vertical: 4px;
  --f7-card-footer-min-height: 48px;
  --f7-card-expandable-margin-horizontal: 12px;
  --f7-card-expandable-margin-vertical: 24px;
  --f7-card-expandable-box-shadow: var(--f7-elevation-7);
  --f7-card-expandable-border-radius: 8px;
  --f7-card-expandable-tablet-border-radius: 4px;
  --f7-card-expandable-header-font-size: 24px;
  --f7-card-expandable-header-font-weight: 500;

  --f7-panel-collapsed-width: 60px;
  --f7-panel-backdrop-bg-color: rgba(0, 0, 0, 0);
  --f7-panel-transition-duration: 300ms;
  --f7-panel-shadow: rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 30%,rgba(0, 0, 0, 0) 40%,rgba(7, 5, 5, 0) 60%,rgba(0, 0, 0, 0) 100%;
}


